.button {
  border-radius: 100px;
  background: $color-primary;
  border: 0;
  padding: 15px 45px;
}

.arrow_button {
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
}

.button__paginator_inactive {
  width: 52px;
  height: 52px;
  border: 2px solid $color-dark-s;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    @extend %h4;
    color: $color-dark-s;
  }
}
.button__paginator_active {
  width: 52px;
  height: 52px;
  background: $color-primary;
  border: 0;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    @extend %h4;
    color: $color-dark-3xl;
  }
}
.button__paginator {
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    @extend %h4;
    color: $color-dark-3xl;
  }
}
