.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-light-s;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: $color-light-xl;
    transition: 0.3s all;
    .button__more {
      background: $color-primary-light;
      border: 2px solid $color-primary-light;
      transition: 0.3s all;
    }
  }

  .pets__img {
    @include margin-bottom(30, 270);
  }

  p {
    @extend %h4;
    color: $color-dark-l;
    @include margin-bottom(30, 270);
  }

  .button__more {
    background: transparent;
    border: 2px solid $color-primary;
    width: 187px;
    color: $color-dark-3xl;
    @extend %button;
    @include margin-bottom(30, 270);
    cursor: pointer;
    transition: 0.3s all;
  }
}
