.about__wrapper {
  background-color: $color-light-xl;
  @extend %flex-center;
  justify-content: center;

  padding: 80px 40px 100px;

  @include media-tablet {
    flex-direction: column-reverse;

    padding-left: 165px;
    padding-right: 165px;
  }
}

.about__content {
  @include width(430, 1200);
  @include margin-left(120, 1200);
  h3 {
    @extend %h3;
    color: $color-dark-l;
    @include width(370, 430);
    @include margin-top(14, 430);
    @include margin-bottom(25, 430);
  }

  p {
    @extend %paragraph-l;
    color: $color-dark-xl;
    @include margin-bottom(25, 430);
    &:last-child {
      @include margin-bottom(14, 430);
    }
  }

  @include media-tablet {
    margin: 0;
    width: 100%;
    &:last-child {
      margin-bottom: 80px;
    }
  }
}
