.about__wrapper {
  background-color: $color-light-xl;
  @extend %flex-center;
  justify-content: center;

  padding: 80px 40px 100px;

  @include media-tablet {
    flex-direction: column-reverse;

    padding-left: 165px;
    padding-right: 165px;
  }

  @include media-mobile {
    flex-direction: column-reverse;
    padding: 42px 10px;
  }
}

.about__content {
  @include width(430, 1200);
  @include margin-left(120, 1200);

  @include media-tablet {
    margin: 0;
    width: 437px;
    &:last-child {
      margin-bottom: 80px;
    }
  }

  @include media-mobile {
    width: 300px;
    margin: 0;
    padding-bottom: 42px;
  }

  h3 {
    @extend %h3;
    color: $color-dark-l;
    @include width(370, 430);
    margin-top: 14px;
    margin-bottom: 25px;

    @include media-mobile {
      width: 100%;
      font-size: 25px;
      margin-bottom: 25px;
      text-align: center;
    }
  }

  p {
    @extend %paragraph-l;
    color: $color-dark-xl;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 14px;
    }

    @include media-mobile {
      margin-bottom: 22px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
