.footer {
  width: 100%;
  background: $background-gradient;
}

.footer__wrapper {
  @include padding-left(40, 1280);
  @include padding-right(40, 1280);
  @include padding-top(40, 1280);
  @extend %flex-start;
  flex-wrap: wrap;

  @include media-tablet {
    width: 768px;
    margin: auto;
    padding: 30px 30px 0;
    justify-content: center;
    gap: 65px 60px;
  }

  @include media-mobile {
    align-items: center;
    width: 320px;
    margin: auto;
    padding: 30px 10px 0;
  }
}

.content-container {
  @include margin-top(15, 1200);
  @include margin-bottom(60, 1200);
  @extend %flex-start;
  flex-direction: column;

  @include media-tablet {
    margin: 0;
  }

  @include media-mobile {
    margin-top: 0;
    margin-bottom: 40px;
  }

  h3 {
    @extend %h3;
    color: $color-light-xl;
    @include media-mobile {
      width: 100%;
      font-size: 25px;
      text-align: center;
      align-self: center;
    }
  }

  a {
    @extend %h4;
    @extend %flex-center;
    justify-content: flex-start;

    color: $color-primary;
    text-decoration: none;

    img {
      padding-right: 20px;
    }

    p {
      text-align: left;
    }
  }
}

.content-container__locate {
  width: 302px;
  .locate__title {
    width: 270px;
  }
}

.content-container__contact {
  width: 278px;

  @include media-mobile {
    width: 300px;
  }
}

.contact__phone,
.contact__mail {
  padding-top: 40px;
}

.locate__boston-maps {
  padding-top: 33px;
  @include media-mobile {
    width: 100%;
    padding-top: 40px;
  }
}

.locate__london-maps {
  padding-top: 33px;
  @include media-mobile {
    width: 100%;
    padding-top: 40px;
  }
}

.content-container__img {
  @include media-mobile {
    width: 260px;
    margin: auto;
  }
}
