.footer {
  background: $background-gradient;
}

.footer__wrapper {
  @include padding-left(40, 1280);
  @include padding-right(40, 1280);
  @include padding-top(40, 1280);
  @extend %flex-start;
}

.content-container {
  @include margin-top(15, 1200);
  @include margin-bottom(60, 1200);
  @extend %flex-start;
  flex-direction: column;

  h3 {
    @extend %h3;
    color: $color-light-xl;
  }

  a {
    @extend %h4;
    @extend %flex-center;
    justify-content: flex-start;

    color: $color-primary;
    text-decoration: none;

    img {
      padding-right: 20px;
    }
  }
}

.content-container__locate {
  @include width(302, 1200);
  .locate__title {
    @include width(270, 302);
  }
}

.content-container__contact {
  @include width(278, 1200);
}

.contact__phone,
.contact__mail {
  @include padding-top(40, 278);
}

.locate__boston-maps {
  @include padding-top(33, 302);
}

.locate__london-maps {
  @include padding-top(33, 302);
}
