.footer {
  background: $background-gradient;
}

.footer__wrapper {
  @include padding-left(40, 1280);
  @include padding-right(40, 1280);
  @include padding-top(40, 1280);
  @extend %flex-start;
  flex-wrap: wrap;

  @include media-tablet {
    padding: 30px 30px 0;
    justify-content: center;
    gap: 65px 60px;
  }
}

.content-container {
  @include margin-top(15, 1200);
  @include margin-bottom(60, 1200);
  @extend %flex-start;
  flex-direction: column;

  @include media-tablet {
    margin: 0;
  }

  h3 {
    @extend %h3;
    color: $color-light-xl;
  }

  a {
    @extend %h4;
    @extend %flex-center;
    justify-content: flex-start;

    color: $color-primary;
    text-decoration: none;

    img {
      padding-right: 20px;
    }
  }
}

.content-container__locate {
  width: 302px;
  .locate__title {
    width: 270px;
  }
}

.content-container__contact {
  width: 278px;
}

.contact__phone,
.contact__mail {
  padding-top: 40px;
}

.locate__boston-maps {
  padding-top: 33px;
}

.locate__london-maps {
  padding-top: 33px;
}
