// Header

.header__wrapper {
  @extend %flex-center;
  padding: 60px 40px 0;

  @include media-tablet {
    padding: 30px 30px 0;
  }
  @include media-mobile {
    padding: 30px 53px 60px 10px;
  }
}

.header__logo {
  a {
    text-decoration: none;
  }
  h1 {
    @extend %logo-title;
    color: $color-primary;
    margin-bottom: 10px;
  }
  p {
    @extend %logo-subtitle;
    color: $color-light-xl;
  }
}

.header__image {
  background: $background-gradient;
}

.header__nav {
  a {
    text-decoration: none;
    @extend %paragraph-l;
    color: $color-dark-s;
    margin-right: 35px;
    transition: 0.3s all;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: $color-light-s;
      transition: 0.3s all;
    }
    &:focus {
      color: $color-light-s;
      padding-bottom: 10px;
      border-bottom: 3px solid $color-primary;
      transition: 0.3s all;
    }
    &:first-child {
      color: $color-light-s;
      padding-bottom: 10px;
      border-bottom: 3px solid $color-primary;
    }
  }
  @include media-mobile {
    display: none;
  }
}

// Start screen
.start-screen {
  @extend %flex-center;
  align-items: flex-end;
  padding: 60px 40px 0;
  overflow: hidden;

  @include media-tablet {
    flex-direction: column;
    align-items: center;
    padding: 60px 30px 0;
    overflow: hidden;
  }
}

.start-screen__content {
  @extend %flex-start;
  flex-direction: column;
  @include width(460, 1200);
  @include padding-top(163, 1200);
  @include padding-bottom(243, 1200);

  @include media-tablet {
    max-width: 460px;
    width: 100%;
    padding: 0;
    margin-bottom: 100px;
  }

  h2 {
    @extend %h2;
    color: $color-light-xl;
    @include width(310, 460);
    @include margin-bottom(42, 460);
  }
  p {
    @extend %paragraph-l;
    color: $color-dark-s;
    @include margin-bottom(42, 460);
  }

  @include media-tablet {
    a {
      align-self: center;
    }
  }
}

.start-screen__button {
  @extend %button;
  color: $color-dark-3xl;
  cursor: pointer;
  transition: 0.3s all;

  &:hover {
    background-color: $color-primary-light;
    transition: 0.3s all;
  }
}

@include media-tablet {
  .start-screen__img {
    max-width: 569px;
  }
}
