.help {
  width: 100%;
  background: $color-light-xl;
}

.help__wrapper {
  background: $color-light-xl;
  @include padding-top(80, 1280);
  @include padding-left(40, 1280);
  @include padding-right(40, 1280);
  @include padding-bottom(100, 1280);

  @include media-tablet {
    padding: 80px 69px 100px;
  }
  @include media-mobile {
    width: 320px;
    margin: 0 auto;
    padding: 42px 15px;
  }

  h3 {
    @extend %h3;
    display: block;
    margin: auto;
    text-align: center;
    color: $color-dark-l;
    @include width(308, 1200);
    margin-bottom: 60px;

    @include media-tablet {
      width: 308px;
    }

    @include media-mobile {
      font-size: 25px;
      width: 100%;
    }
  }
}

.list {
  padding: 0 86px;
  @extend %flex-center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 120px;

  @include media-tablet {
    padding: 0;
    gap: 55px 60px;
  }
  @include media-mobile {
    padding: 0;
    gap: 30px;
    &:last-child {
      justify-content: flex-start;
    }
  }
}

.list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    @extend %h4;
    color: $color-dark-l;
    padding-top: 30px;

    @include media-mobile {
      font-size: 15px;
      line-height: 110%;
    }
  }

  @include media-tablet {
    width: 170px;
  }

  @include media-mobile {
    width: 130px;
  }
}
