.pets {
  width: 100%;
  background-color: $color-light-l;
}

.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px 100px;

  @include media-tablet {
    width: 768px;
    margin: auto;
    padding: 80px 30px 100px;
  }

  @include media-mobile {
    width: 300px;
    margin: auto;
    padding: 42px 10px;
  }

  h3 {
    @extend %h3;
    text-align: center;
    color: $color-dark-l;
    width: 400px;
    margin-bottom: 60px;

    @include media-tablet {
      width: 100%;
      padding: 0 154px 60px;
    }

    @include media-mobile {
      font-size: 25px;
      width: 100%;
      margin-bottom: 42px;
    }
  }
}

.pets__slider {
  width: 100%;
  @extend %flex-center;
  margin-bottom: 60px;

  @include media-tablet {
    #pet-3 {
      display: none;
    }
  }

  @include media-mobile {
    #pet-3,
    #pet-2 {
      display: none;
    }
    margin-bottom: 42px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 15px;

    .slider__arrow_left {
      order: 1;
      margin-left: 43px;
      margin-right: auto;
    }
    .slider__arrow_right {
      order: 2;
      margin-right: 43px;
      margin-left: auto;
    }
  }
}

.pets__button {
  @extend %button;
  color: $color-dark-3xl;
  width: 261px;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    background: $color-primary-light;
    transition: 0.3s all;
  }
}
