.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: $color-light-xl;

  &.header_active {
    position: absolute;
    height: 120px;
  }
}

.header__wrapper {
  position: relative;
  @extend %flex-center;
  padding: 30px 40px;

  @include media-tablet {
    padding: 30px 30px;
  }
  @include media-mobile {
    padding: 30px 50px 30px 10px;
  }
}

.header__logo {
  a {
    text-decoration: none;
  }
  h1 {
    @extend %logo-title;
    color: $color-dark-l;
    margin-bottom: 10px;
  }
  p {
    @extend %logo-subtitle;
    color: $color-dark-3xl;
  }
}

.header__nav {
  z-index: 1;
  @extend %header__nav;
  @extend %header__nav-active;

  .header__logo {
    display: block;
    position: absolute;
    top: 30px;
    left: 10px;
    h1 {
      color: $color-primary;
    }
    p {
      color: $color-light-xl;
    }
  }

  a {
    color: $color-dark-l;

    &:hover {
      color: $color-dark-3xl;
    }
    &:focus {
      color: $color-dark-3xl;
    }
    &.active {
      color: $color-dark-3xl;
    }
  }

  @include media-mobile {
    a {
      color: $color-dark-s;

      &:hover {
        color: $color-light-s;
      }
      &:focus {
        color: $color-light-s;
      }
      &.active {
        color: $color-light-s;
      }
    }
  }
}

.burger {
  span,
  &:before,
  &:after {
    background: #000;
  }

  &.active {
    position: fixed;
    span,
    &:before,
    &:after {
      background: #fff;
    }
  }
}
