.pets {
  width: 100%;
  background: $color-light-l;

  h3 {
    @extend %h3;
    text-align: center;
    color: $color-dark-l;
    width: 400px;
    padding-bottom: 45px;
    padding-top: 165px;
    margin: 0 auto;

    @include media-tablet {
      width: 400px;
      padding-bottom: 30px;
    }
    @include media-mobile {
      font-size: 25px;
      width: 100%;
      padding: 162px 0 42px;
    }
  }
}

.pets__wrapper {
  @include media-mobile {
    width: 320px;
    margin: auto;
  }
}

.pets__content {
  @include padding-top(15, 1280);
  @include padding-left(40, 1280);
  @include padding-right(40, 1280);

  @extend %grid-4-col;
  gap: 30px 40px;

  @include media-tablet {
    display: grid;
    grid-template-columns: repeat(2, 270px);
    justify-content: center;
    padding: 0 94px 40px;
  }

  @include media-mobile {
    display: flex;
    flex-direction: column;
    padding: 0 25px 42px;

    :not(:nth-child(-n + 3)) {
      display: none;
    }
  }
}

.pets__navigation {
  @include width(340, 1280);
  padding-bottom: 100px;
  padding-top: 45px;

  @include media-tablet {
    width: 340px;
    padding-bottom: 76px;
  }

  @include media-mobile {
    width: 100%;
    padding: 0 10px 42px;
  }
}
