.pets {
  background: $color-light-l;

  h3 {
    @extend %h3;
    text-align: center;
    color: $color-dark-l;
    @include width(400, 1200);
    @include padding-bottom(45, 1280);
    @include padding-top(80, 1280);
    margin: 0 auto;

    @include media-tablet {
      width: 400px;
      padding-bottom: 30px;
    }
  }
}

.pets__content {
  @include padding-top(15, 1280);
  @include padding-left(40, 1280);
  @include padding-right(40, 1280);

  @extend %grid-4-col;
  gap: 30px 40px;

  @include media-tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 94px 40px;
  }
}

.pets__navigation {
  @include width(340, 1280);
  @include padding-bottom(100, 1280);

  @include media-tablet {
    width: 340px;
    padding-bottom: 76px;
  }
}
