.header {
  // position: relative;
  // max-width: 1280px;
  .header__image {
    background: url(/src/assets/img/Start_screen.jpg) top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 60px 40px 0;
  }

  .header__wrapper {
    @extend %flex-center;
    width: 100%;
    margin: 0 auto;

    .header__logo {
      a {
        text-decoration: none;
      }
      h1 {
        @extend %logo-title;
        color: $color-primary;
        margin-bottom: 10px;
      }
      p {
        @extend %logo-subtitle;
        color: $color-light-xl;
      }
    }

    .header__nav {
      a {
        text-decoration: none;
        @extend %paragraph-l;
        color: $color-dark-s;
        margin-right: 35px;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          color: $color-light-s;
        }
        &:focus {
          color: $color-light-s;
          padding-bottom: 10px;
          border-bottom: 3px solid $color-primary;
          transition: 0.3s all;
        }
        &:first-child {
          color: $color-light-s;
          padding-bottom: 10px;
          border-bottom: 3px solid $color-primary;
        }
      }
    }
  }
}

.start-screen__content {
  width: calc(
    (460 / 1200) * 100%
  ); // 460 ширина блока по умолчанию, 1200 ширина контейнера
  padding-top: calc(
    (163 / 908) * 100vh
  ); // 163 высота padding-top  по умолчанию до header, 908 высота контейнера
  h2 {
    @extend %h2;
    color: $color-light-xl;
    width: calc((310 / 460) * 100%); // 310 ширина title по умолчанию
    margin-bottom: 42px;
  }
  p {
    @extend %paragraph-l;
    color: $color-dark-s;
    margin-bottom: 42px;
  }

  .start-screen_button {
    font-family: "tinos";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
  }
}
