/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* tinos-regular - latin */
@font-face {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/tinos-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/src/assets/fonts/tinos-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/tinos-v24-latin-regular.woff2") format("woff2"), url("..assets/fonts/tinos-v24-latin-regular.woff") format("woff"), url("/src/assets/fonts/tinos-v24-latin-regular.ttf") format("truetype"), url("/src/assets/fonts/tinos-v24-latin-regular.svg#Tinos") format("svg"); /* Legacy iOS */
}
/* tinos-italic - latin */
@font-face {
  font-family: "Tinos";
  font-style: italic;
  font-weight: 400;
  src: url("/src/assets/fonts/tinos-v24-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("/src/assets/fonts/tinos-v24-latin-italic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/tinos-v24-latin-italic.woff2") format("woff2"), url("/src/assets/fonts/tinos-v24-latin-italic.woff") format("woff"), url("/src/assets/fonts/tinos-v24-latin-italic.ttf") format("truetype"), url("/src/assets/fonts/tinos-v24-latin-italic.svg#Tinos") format("svg"); /* Legacy iOS */
}
.content-container a, .donation__card, .donation__wrapper, .pets__slider, .about__wrapper, .start-screen, .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-container, .footer__wrapper, .start-screen__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo h1 {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.header__logo p {
  font-family: "Arial";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.start-screen__content h2 {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

.content-container h3, .donation__content h3, .help__wrapper h3, .pets__wrapper h3, .about__content h3 {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.content-container a, .donation__card span, .list__item p, .pet-card p, .button__paginator span, .button__paginator_active span, .button__paginator_inactive span {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.donation__subtitle {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.about__content p, .start-screen__content p, .header__nav a {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
}

.donation__desc {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.pets__button, .start-screen__button, .pet-card .button__more {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.button {
  border-radius: 100px;
  background: #f1cdb3;
  border: 0;
  padding: 15px 45px;
}

.arrow_button {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
}
.arrow_button:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
  transition: 0.3s all;
}

.button__paginator_inactive {
  width: 52px;
  height: 52px;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__paginator_inactive span {
  color: #cdcdcd;
}

.button__paginator_active {
  width: 52px;
  height: 52px;
  background: #f1cdb3;
  border: 0;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__paginator_active span {
  color: #292929;
}

.button__paginator {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__paginator span {
  color: #292929;
}
.button__paginator:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
  transition: 0.3s all;
}

.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s all;
}
.pet-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #fff;
  transition: 0.3s all;
}
.pet-card:hover .button__more {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  transition: 0.3s all;
}
.pet-card .pets__img {
  margin-bottom: 11.1111111111%;
}
.pet-card p {
  color: #545454;
  margin-bottom: 11.1111111111%;
}
.pet-card .button__more {
  background: transparent;
  border: 2px solid #f1cdb3;
  width: 187px;
  color: #292929;
  margin-bottom: 11.1111111111%;
  cursor: pointer;
  transition: 0.3s all;
}

html {
  background-color: #e5e5e5;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

.header__wrapper {
  padding: 60px 40px 0;
}
@media screen and (max-width: 768px) {
  .header__wrapper {
    padding: 30px 30px 0;
  }
}

.header__logo a {
  text-decoration: none;
}
.header__logo h1 {
  color: #f1cdb3;
  margin-bottom: 10px;
}
.header__logo p {
  color: #fff;
}

.header__image {
  background: url(/src/assets/img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.header__nav a {
  text-decoration: none;
  color: #cdcdcd;
  margin-right: 35px;
  transition: 0.3s all;
}
.header__nav a:last-child {
  margin-right: 0;
}
.header__nav a:hover {
  color: #fafafa;
  transition: 0.3s all;
}
.header__nav a:focus {
  color: #fafafa;
  padding-bottom: 10px;
  border-bottom: 3px solid #f1cdb3;
  transition: 0.3s all;
}
.header__nav a:first-child {
  color: #fafafa;
  padding-bottom: 10px;
  border-bottom: 3px solid #f1cdb3;
}

.start-screen {
  align-items: flex-end;
  padding: 60px 40px 0;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .start-screen {
    flex-direction: column;
    align-items: center;
    padding: 60px 30px 0;
    overflow: hidden;
  }
}

.start-screen__content {
  flex-direction: column;
  width: 38.3333333333%;
  padding-top: 13.5833333333%;
  padding-bottom: 20.25%;
}
@media screen and (max-width: 768px) {
  .start-screen__content {
    max-width: 460px;
    width: 100%;
    padding: 0;
    margin-bottom: 100px;
  }
}
.start-screen__content h2 {
  color: #fff;
  width: 67.3913043478%;
  margin-bottom: 9.1304347826%;
}
.start-screen__content p {
  color: #cdcdcd;
  margin-bottom: 9.1304347826%;
}
@media screen and (max-width: 768px) {
  .start-screen__content a {
    align-self: center;
  }
}

.start-screen__button {
  color: #292929;
  cursor: pointer;
  transition: 0.3s all;
}
.start-screen__button:hover {
  background-color: #fddcc4;
  transition: 0.3s all;
}

@media screen and (max-width: 768px) {
  .start-screen__img {
    max-width: 569px;
  }
}
.about__wrapper {
  background-color: #fff;
  justify-content: center;
  padding: 80px 40px 100px;
}
@media screen and (max-width: 768px) {
  .about__wrapper {
    flex-direction: column-reverse;
    padding-left: 165px;
    padding-right: 165px;
  }
}

.about__content {
  width: 35.8333333333%;
  margin-left: 10%;
}
.about__content h3 {
  color: #545454;
  width: 86.0465116279%;
  margin-top: 3.2558139535%;
  margin-bottom: 5.8139534884%;
}
.about__content p {
  color: #4c4c4c;
  margin-bottom: 5.8139534884%;
}
.about__content p:last-child {
  margin-bottom: 3.2558139535%;
}
@media screen and (max-width: 768px) {
  .about__content {
    margin: 0;
    width: 100%;
  }
  .about__content:last-child {
    margin-bottom: 80px;
  }
}

.pets {
  background-color: #f6f6f6;
}

.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.25%;
  padding-left: 3.125%;
  padding-right: 3.125%;
  padding-bottom: 7.8125%;
}
@media screen and (max-width: 768px) {
  .pets__wrapper {
    padding: 80px 30px 100px;
  }
}
.pets__wrapper h3 {
  text-align: center;
  color: #545454;
  width: 33.3333333333%;
  margin-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .pets__wrapper h3 {
    width: 100%;
    padding: 0 154px 60px;
  }
}

.pets__slider {
  width: 100%;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .pets__slider #pet-3 {
    display: none;
  }
}

.pets__button {
  color: #292929;
  width: 261px;
  cursor: pointer;
  transition: 0.3s all;
}
.pets__button:hover {
  background: #fddcc4;
  transition: 0.3s all;
}

.help__wrapper {
  background: #fff;
  padding-top: 6.25%;
  padding-left: 3.125%;
  padding-right: 3.125%;
  padding-bottom: 7.8125%;
}
.help__wrapper h3 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #545454;
  width: 25.6666666667%;
  margin-bottom: 5%;
}

.list {
  width: 85.5%;
  margin: 0 auto;
}

.list__box-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list__box-1:not(:last-child) {
  margin-bottom: 55px;
}

.list__box-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list__item p {
  color: #545454;
  padding-top: 30px;
}

.donation__wrapper {
  background: #f6f6f6;
  padding-top: 6.25%;
  padding-bottom: 7.8125%;
  padding-left: 14.2578125%;
  padding-right: 14.2578125%;
}

.donation__content {
  width: 41.5300546448%;
}
.donation__content h3 {
  display: block;
  color: #545454;
  width: 78.9473684211%;
  margin-bottom: 5.2631578947%;
}

.donation__subtitle {
  color: #545454;
  margin-bottom: 5.2631578947%;
}

.donation__card {
  width: 83.9473684211%;
  margin-bottom: 5.2631578947%;
  padding: 10px 15px;
  background: #f1cdb3;
  border-radius: 9px;
  text-decoration: none;
}
.donation__card span {
  color: #545454;
}

.donation__desc {
  color: #b2b2b2;
}

.footer {
  background: url(/src/assets/img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.footer__wrapper {
  padding-left: 3.125%;
  padding-right: 3.125%;
  padding-top: 3.125%;
}

.content-container {
  margin-top: 1.25%;
  margin-bottom: 5%;
  flex-direction: column;
}
.content-container h3 {
  color: #fff;
}
.content-container a {
  justify-content: flex-start;
  color: #f1cdb3;
  text-decoration: none;
}
.content-container a img {
  padding-right: 20px;
}

.content-container__locate {
  width: 25.1666666667%;
}
.content-container__locate .locate__title {
  width: 89.4039735099%;
}

.content-container__contact {
  width: 23.1666666667%;
}

.contact__phone,
.contact__mail {
  padding-top: 14.3884892086%;
}

.locate__boston-maps {
  padding-top: 10.9271523179%;
}

.locate__london-maps {
  padding-top: 10.9271523179%;
}

/*# sourceMappingURL=main.css.map */
