/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* tinos-regular - latin */
@font-face {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/tinos-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/src/assets/fonts/tinos-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/tinos-v24-latin-regular.woff2") format("woff2"), url("..assets/fonts/tinos-v24-latin-regular.woff") format("woff"), url("/src/assets/fonts/tinos-v24-latin-regular.ttf") format("truetype"), url("/src/assets/fonts/tinos-v24-latin-regular.svg#Tinos") format("svg"); /* Legacy iOS */
}
/* tinos-italic - latin */
@font-face {
  font-family: "Tinos";
  font-style: italic;
  font-weight: 400;
  src: url("/src/assets/fonts/tinos-v24-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("/src/assets/fonts/tinos-v24-latin-italic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/tinos-v24-latin-italic.woff2") format("woff2"), url("/src/assets/fonts/tinos-v24-latin-italic.woff") format("woff"), url("/src/assets/fonts/tinos-v24-latin-italic.ttf") format("truetype"), url("/src/assets/fonts/tinos-v24-latin-italic.svg#Tinos") format("svg"); /* Legacy iOS */
}
.content-container a, .donation__wrapper, .list, .pets__slider .pet-card__container, .pets__slider, .about__wrapper, .start-screen, .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-container, .footer__wrapper, .start-screen__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo h1 {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.header__logo p {
  font-family: "Arial";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.start-screen__content h2 {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

.content-container h3, .donation__content h3, .help__wrapper h3, .pets__wrapper h3, .about__content h3, .modal__wrapper .modal__content h3 {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.content-container a, .donation__card span, .list__item p, .modal__wrapper .modal__content h4, .button_inactive span, .button__paginator span, .pet-card p {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.donation__subtitle, .modal__wrapper .modal__content .modal__list, .modal__wrapper .modal__content p {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.about__content p, .start-screen__content p, .header__nav a {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
}

.donation__desc {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.pets__button, .start-screen__button, .pet-card .button__more {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

@keyframes background {
  from {
    background: rgba(41, 41, 41, 0);
  }
  to {
    background: rgba(41, 41, 41, 0.6);
  }
}
@keyframes move-right {
  from {
    left: -100%;
  }
  to {
    left: -200%;
  }
}
@keyframes move-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes modal-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pagination {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.pet-card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s all;
}
.pet-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #fff;
  transition: 0.3s all;
}
.pet-card:hover .button__more {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  transition: 0.3s all;
}
.pet-card .pets__img {
  margin-bottom: 30px;
}
.pet-card p {
  color: #545454;
  margin-bottom: 30px;
}
.pet-card .button__more {
  background: transparent;
  border: 2px solid #f1cdb3;
  width: 187px;
  color: #292929;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.3s all;
}

.button {
  border-radius: 100px;
  background: #f1cdb3;
  border: 0;
  padding: 15px 45px;
}

.button__sircle {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
}
.button__sircle:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
  transition: 0.3s all;
}

.button__paginator {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__paginator span {
  color: #292929;
}
.button__paginator:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
  transition: 0.3s all;
}

.button_inactive {
  border: 2px solid #cdcdcd;
  pointer-events: none;
  color: #cdcdcd;
}
.button_inactive span {
  color: #cdcdcd;
}

.button_active {
  background: #f1cdb3;
}

.burger span, .burger:before, .burger:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #f1cdb3;
  transition: 0.3s all;
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
}
.burger:before, .burger:after {
  content: "";
}
.burger span {
  top: 50%;
  transform: translateY(-50%);
}
.burger:before {
  top: 0;
}
.burger:after {
  bottom: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .burger {
    display: block;
    z-index: 2;
  }
}
.burger.active {
  position: absolute;
  top: 45px;
  right: 53px;
}
.burger.active:before {
  transform: rotate(90deg);
  top: 11px;
  left: 9px;
}
.burger.active:after {
  transform: rotate(90deg);
  top: 11px;
  right: 9px;
}
.burger.active span {
  transform: rotate(90deg);
}

.header__nav {
  position: relative;
}
.active.header__nav {
  right: 0;
}
.header__nav a {
  text-decoration: none;
  color: #cdcdcd;
  margin-right: 35px;
  transition: 0.3s all;
}
.header__nav a:last-child {
  margin-right: 0;
}
.header__nav a:hover {
  color: #fafafa;
  transition: 0.3s all;
}
.header__nav a:focus {
  color: #fafafa;
  padding-bottom: 10px;
  border-bottom: 3px solid #f1cdb3;
  transition: 0.3s all;
}
.header__nav a.active {
  color: #fafafa;
  padding-bottom: 10px;
  border-bottom: 3px solid #f1cdb3;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    padding-top: 70px;
    overflow: auto;
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100vh;
    background: #292929;
    transition: 0.3s all;
  }
  .header__nav > a {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
  }
  .header__nav > a.active {
    padding-bottom: 0;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  background-color: #fafafa;
  border-radius: 9px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  margin: auto;
  z-index: 5;
  animation-duration: 0.3s;
  animation-name: modal-open;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal {
    width: 630px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal {
    width: 240px;
  }
}

.modal__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 29px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal__wrapper {
    column-gap: 11px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__wrapper {
    column-gap: 0;
  }
}
.modal__wrapper .modal__close-btn {
  position: absolute;
  background: transparent;
  top: -52px;
  right: -52px;
}
.modal__wrapper .modal__close-btn:hover {
  background: #fddcc4;
}
.modal__wrapper .active-btn {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
  transition: 0.3s all;
}
.modal__wrapper .modal__img {
  width: 500px;
  height: 500px;
  border-radius: 9px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal__wrapper .modal__img {
    width: 350px;
    height: 350px;
  }
}
.modal__wrapper .modal__content {
  padding: 50px 20px 88px 0;
  color: black;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal__wrapper .modal__content {
    padding: 10px 9px 37px 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__wrapper .modal__content {
    padding: 10px;
  }
}
.modal__wrapper .modal__content h3 {
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__wrapper .modal__content h3 {
    text-align: center;
  }
}
.modal__wrapper .modal__content h4 {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal__wrapper .modal__content h4 {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__wrapper .modal__content h4 {
    margin-bottom: 20px;
    text-align: center;
  }
}
.modal__wrapper .modal__content p {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal__wrapper .modal__content p {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__wrapper .modal__content p {
    margin-bottom: 24px;
    text-align: justify;
  }
}
.modal__wrapper .modal__content .modal__list .list-item {
  position: relative;
  padding-left: 10px;
}
.modal__wrapper .modal__content .modal__list .list-item:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  left: -3px;
  width: 4px;
  height: 4px;
  bottom: 3px;
  border-radius: 50%;
  background-color: #f1cdb3;
}

html {
  background-color: #e5e5e5;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
body.lock:after {
  content: "";
  position: fixed;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  animation-duration: 0.3s;
  animation-name: background;
}
body.lock {
  overflow: hidden;
  padding-right: 17px;
}

.header__wrapper {
  position: relative;
  padding: 60px 40px 0;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__wrapper {
    padding: 30px 30px 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__wrapper {
    padding: 30px 53px 60px 10px;
  }
  .header__wrapper.active {
    padding-top: 90px;
  }
}

.header__logo a {
  text-decoration: none;
}
.header__logo h1 {
  color: #f1cdb3;
  margin-bottom: 10px;
}
.header__logo p {
  color: #fff;
}

.header__image {
  background: url(/src/assets/img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.header__nav .header__logo {
  display: block;
  position: absolute;
  top: 30px;
  left: 10px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__nav {
    z-index: 1;
  }
}

.start-screen {
  align-items: flex-end;
  padding: 60px 40px 0;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .start-screen {
    flex-direction: column;
    align-items: center;
    padding: 60px 30px 0;
    overflow: hidden;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .start-screen {
    padding: 0 10px 0;
    flex-direction: column;
    align-items: center;
  }
}

.start-screen__content {
  flex-direction: column;
  width: 38.3333333333%;
  padding-top: 13.5833333333%;
  padding-bottom: 20.25%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .start-screen__content {
    max-width: 460px;
    width: 100%;
    padding: 0;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .start-screen__content {
    align-items: center;
    max-width: 300px;
    width: 100%;
    padding: 0;
    margin-bottom: 105px;
  }
}
.start-screen__content h2 {
  color: #fff;
  width: 67.3913043478%;
  margin-bottom: 42px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .start-screen__content h2 {
    text-align: center;
    font-size: 25px;
  }
}
.start-screen__content p {
  color: #cdcdcd;
  margin-bottom: 42px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .start-screen__content p {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .start-screen__content a {
    align-self: center;
  }
}

.start-screen__button {
  width: 207px;
  height: 52px;
  color: #292929;
  cursor: pointer;
  transition: 0.3s all;
}
.start-screen__button:hover {
  background-color: #fddcc4;
  transition: 0.3s all;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .start-screen__img {
    padding-left: 139px;
    align-self: flex-end;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .start-screen__img {
    padding-left: 40px;
  }
}
.about {
  width: 100%;
  background-color: #fff;
}

.about__wrapper {
  justify-content: center;
  padding: 80px 40px 100px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__wrapper {
    flex-direction: column-reverse;
    padding-left: 165px;
    padding-right: 165px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__wrapper {
    width: 320px;
    margin: auto;
    flex-direction: column-reverse;
    padding: 42px 10px;
  }
}

.about__content {
  width: 35.8333333333%;
  margin-left: 10%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__content {
    margin: 0;
    width: 437px;
  }
  .about__content:last-child {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__content {
    width: 300px;
    margin: 0;
    padding-bottom: 42px;
  }
}
.about__content h3 {
  color: #545454;
  width: 86.0465116279%;
  margin-top: 14px;
  margin-bottom: 25px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__content h3 {
    width: 100%;
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
}
.about__content p {
  color: #4c4c4c;
  margin-bottom: 25px;
}
.about__content p:last-child {
  margin-bottom: 14px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__content p {
    margin-bottom: 22px;
  }
  .about__content p:last-child {
    margin-bottom: 0;
  }
}

.pets {
  width: 100%;
  background-color: #f6f6f6;
}

.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px 100px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pets__wrapper {
    width: 768px;
    margin: auto;
    padding: 80px 30px 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pets__wrapper {
    width: 300px;
    margin: auto;
    padding: 42px 10px;
  }
}
.pets__wrapper h3 {
  text-align: center;
  color: #545454;
  width: 400px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pets__wrapper h3 {
    width: 100%;
    padding: 0 154px 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pets__wrapper h3 {
    font-size: 25px;
    width: 100%;
    margin-bottom: 42px;
  }
}

.pets__slider {
  width: 100%;
  margin-bottom: 60px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pets__slider {
    margin-bottom: 42px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pets__slider .slider__arrow_left {
    order: 1;
    margin-left: 43px;
    margin-right: auto;
  }
  .pets__slider .slider__arrow_right {
    order: 2;
    margin-right: 43px;
    margin-left: auto;
  }
}
.pets__slider .pet-card__container {
  column-gap: 90px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pets__slider .pet-card__container {
    column-gap: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pets__slider .pet-card__container {
    column-gap: 20px;
  }
}
.pets__slider .pets-carousel__wrapper {
  width: 990px;
  margin: auto;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pets__slider .pets-carousel__wrapper {
    width: 580px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pets__slider .pets-carousel__wrapper {
    width: 270px;
  }
}
.pets__slider .pets-carousel__wrapper .pets-carousel {
  display: flex;
  position: relative;
  left: -100%;
}

.pets__button {
  color: #292929;
  width: 261px;
  cursor: pointer;
  transition: 0.3s all;
}
.pets__button:hover {
  background: #fddcc4;
  transition: 0.3s all;
}

.transition-right {
  animation-name: move-right;
  animation-duration: 0.5s;
}

.transition-left {
  animation-name: move-left;
  animation-duration: 0.5s;
}

.help {
  width: 100%;
  background: #fff;
}

.help__wrapper {
  background: #fff;
  padding-top: 6.25%;
  padding-left: 3.125%;
  padding-right: 3.125%;
  padding-bottom: 7.8125%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .help__wrapper {
    width: 768px;
    margin: auto;
    padding: 80px 69px 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .help__wrapper {
    width: 320px;
    margin: 0 auto;
    padding: 42px 15px;
  }
}
.help__wrapper h3 {
  display: block;
  margin: auto;
  text-align: center;
  color: #545454;
  width: 25.6666666667%;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .help__wrapper h3 {
    width: 308px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .help__wrapper h3 {
    font-size: 25px;
    width: 100%;
  }
}

.list {
  padding: 0 86px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 120px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .list {
    padding: 0;
    gap: 55px 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .list {
    padding: 0;
    gap: 30px;
  }
  .list:last-child {
    justify-content: flex-start;
  }
}

.list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list__item p {
  color: #545454;
  padding-top: 30px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .list__item p {
    font-size: 15px;
    line-height: 110%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .list__item {
    width: 170px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .list__item {
    width: 130px;
  }
}

.donation {
  width: 100%;
  background: #f6f6f6;
}

.donation__wrapper {
  padding-top: 6.25%;
  padding-bottom: 7.8125%;
  padding-left: 14.2578125%;
  padding-right: 14.2578125%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .donation__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    padding: 80px 0 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .donation__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    width: 320px;
    margin: 0 auto;
    padding: 42px 10px;
  }
}

.donation__content {
  width: 380px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .donation__content {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .donation__content {
    width: 100%;
    margin-bottom: 42px;
  }
}
.donation__content h3 {
  display: block;
  color: #545454;
  width: 78.9473684211%;
  margin-bottom: 5.2631578947%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .donation__content h3 {
    width: 300px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .donation__content h3 {
    width: 100%;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.donation__subtitle {
  color: #545454;
  margin-bottom: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .donation__subtitle {
    text-align: center;
  }
}

.donation__card {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 15px;
  background: #f1cdb3;
  border-radius: 9px;
  text-decoration: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .donation__card {
    display: flex;
    margin: 0 10px 20px;
  }
}
.donation__card span {
  color: #545454;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .donation__card span {
    font-size: 15px;
  }
}

.card__img {
  margin-right: 15px;
}

.donation__desc {
  color: #b2b2b2;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .donation__desc {
    text-align: justify;
    padding: 0 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .donation__dog {
    padding: 0 30px;
  }
}

.footer {
  width: 100%;
  background: url(/src/assets/img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.footer__wrapper {
  padding-left: 3.125%;
  padding-right: 3.125%;
  padding-top: 3.125%;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__wrapper {
    width: 768px;
    margin: auto;
    padding: 30px 30px 0;
    justify-content: center;
    gap: 65px 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__wrapper {
    align-items: center;
    width: 320px;
    margin: auto;
    padding: 30px 10px 0;
  }
}

.content-container {
  margin-top: 1.25%;
  margin-bottom: 5%;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .content-container {
    margin: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .content-container {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
.content-container h3 {
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .content-container h3 {
    width: 100%;
    font-size: 25px;
    text-align: center;
    align-self: center;
  }
}
.content-container a {
  justify-content: flex-start;
  color: #f1cdb3;
  text-decoration: none;
}
.content-container a img {
  padding-right: 20px;
}
.content-container a p {
  text-align: left;
}

.content-container__locate {
  width: 302px;
}
.content-container__locate .locate__title {
  width: 270px;
}

.content-container__contact {
  width: 278px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .content-container__contact {
    width: 300px;
  }
}

.contact__phone,
.contact__mail {
  padding-top: 40px;
}

.locate__boston-maps {
  padding-top: 33px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .locate__boston-maps {
    width: 100%;
    padding-top: 40px;
  }
}

.locate__london-maps {
  padding-top: 33px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .locate__london-maps {
    width: 100%;
    padding-top: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .content-container__img {
    width: 260px;
    margin: auto;
  }
}

/*# sourceMappingURL=main.css.map */
