/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* tinos-regular - latin */
@font-face {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/tinos-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/src/assets/fonts/tinos-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/tinos-v24-latin-regular.woff2") format("woff2"), url("..assets/fonts/tinos-v24-latin-regular.woff") format("woff"), url("/src/assets/fonts/tinos-v24-latin-regular.ttf") format("truetype"), url("/src/assets/fonts/tinos-v24-latin-regular.svg#Tinos") format("svg"); /* Legacy iOS */
}
/* tinos-italic - latin */
@font-face {
  font-family: "Tinos";
  font-style: italic;
  font-weight: 400;
  src: url("/src/assets/fonts/tinos-v24-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("/src/assets/fonts/tinos-v24-latin-italic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/tinos-v24-latin-italic.woff2") format("woff2"), url("/src/assets/fonts/tinos-v24-latin-italic.woff") format("woff"), url("/src/assets/fonts/tinos-v24-latin-italic.ttf") format("truetype"), url("/src/assets/fonts/tinos-v24-latin-italic.svg#Tinos") format("svg"); /* Legacy iOS */
}
html {
  background-color: #e5e5e5;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

.content__container a, .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__logo h1 {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.header .header__logo p {
  font-family: "Arial";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.content__container h3, .pets h3 {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.content__container a, .pet__card p, .button__paginator span, .button__paginator_active span, .button__paginator_inactive span {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.header .header__nav a {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
}

.pet__card .button__more {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.button {
  border-radius: 100px;
  background: #f1cdb3;
  border: 0;
  padding: 15px 45px;
}

.arrow_button {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
}

.button__paginator_inactive {
  width: 52px;
  height: 52px;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__paginator_inactive span {
  color: #cdcdcd;
}

.button__paginator_active {
  width: 52px;
  height: 52px;
  background: #f1cdb3;
  border: 0;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__paginator_active span {
  color: #292929;
}

.button__paginator {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__paginator span {
  color: #292929;
}
.button__paginator:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
  transition: 0.3s all;
}

.pet__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s all;
}
.pet__card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #fff;
  transition: 0.3s all;
}
.pet__card:hover .button__more {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  transition: 0.3s all;
}
.pet__card .pets__img {
  margin-bottom: 11.1111111111%;
}
.pet__card p {
  color: #545454;
  margin-bottom: 11.1111111111%;
}
.pet__card .button__more {
  background: transparent;
  border: 2px solid #f1cdb3;
  width: 187px;
  color: #292929;
  margin-bottom: 11.1111111111%;
  cursor: pointer;
  transition: 0.3s all;
}

.header {
  position: sticky;
  top: 0;
  padding-top: 2.34375%;
  padding-bottom: 2.34375%;
  padding-left: 3.125%;
  padding-right: 3.125%;
  background: #fff;
}
.header .header__logo a {
  text-decoration: none;
}
.header .header__logo h1 {
  color: #545454;
  margin-bottom: 10px;
}
.header .header__logo p {
  color: #292929;
}
.header .header__nav a {
  text-decoration: none;
  color: #545454;
  margin-right: 35px;
  transition: 0.3s all;
}
.header .header__nav a:last-child {
  margin-right: 0;
}
.header .header__nav a:hover {
  color: #292929;
  transition: 0.3s all;
}
.header .header__nav a:focus {
  color: #292929;
  padding-bottom: 10px;
  border-bottom: 3px solid #f1cdb3;
  transition: 0.3s all;
}
.header .header__nav a:nth-child(2) {
  color: #292929;
  padding-bottom: 10px;
  border-bottom: 3px solid #f1cdb3;
}

.pets {
  background: #f6f6f6;
}
.pets h3 {
  text-align: center;
  color: #545454;
  width: 33.3333333333%;
  padding-bottom: 3.515625%;
  padding-top: 6.25%;
  margin: 0 auto;
}

.pets__content {
  padding-top: 1.171875%;
  padding-left: 3.125%;
  padding-right: 3.125%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
}

.navigation {
  width: 26.5625%;
  padding-top: 3.515625%;
  padding-bottom: 7.8125%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  width: 100%;
  background: url(/src/assets/img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.footer__wrapper {
  padding-left: 3.125%;
  padding-right: 3.125%;
  padding-top: 3.125%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.25%;
  margin-bottom: 5%;
}
.content__container h3 {
  color: #fff;
}
.content__container a {
  justify-content: flex-start;
  color: #f1cdb3;
  text-decoration: none;
}
.content__container a img {
  padding-right: 20px;
}
.content__container .phone,
.content__container .mail {
  padding-top: 14.3884892086%;
}
.content__container .boston_maps {
  padding-top: 10.9271523179%;
}
.content__container .london_maps {
  padding-top: 10.9271523179%;
}

.content__container_locate {
  width: 25.1666666667%;
}
.content__container_locate .locate_title {
  width: 89.4039735099%;
}

.content__container_contact {
  width: 23.1666666667%;
}

/*# sourceMappingURL=pets.css.map */
