/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* tinos-regular - latin */
@font-face {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/tinos-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/src/assets/fonts/tinos-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/tinos-v24-latin-regular.woff2") format("woff2"), url("..assets/fonts/tinos-v24-latin-regular.woff") format("woff"), url("/src/assets/fonts/tinos-v24-latin-regular.ttf") format("truetype"), url("/src/assets/fonts/tinos-v24-latin-regular.svg#Tinos") format("svg"); /* Legacy iOS */
}
/* tinos-italic - latin */
@font-face {
  font-family: "Tinos";
  font-style: italic;
  font-weight: 400;
  src: url("/src/assets/fonts/tinos-v24-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("/src/assets/fonts/tinos-v24-latin-italic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/tinos-v24-latin-italic.woff2") format("woff2"), url("/src/assets/fonts/tinos-v24-latin-italic.woff") format("woff"), url("/src/assets/fonts/tinos-v24-latin-italic.ttf") format("truetype"), url("/src/assets/fonts/tinos-v24-latin-italic.svg#Tinos") format("svg"); /* Legacy iOS */
}
.content-container a, .header__wrapper, .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-container, .footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pets__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.header__logo h1 {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.header__logo p {
  font-family: "Arial";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.content-container h3, .pets h3, .modal__wrapper .modal__content h3 {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.content-container a, .modal__wrapper .modal__content h4, .pet-card p, .button_inactive span, .button__paginator span {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.modal__wrapper .modal__content .modal__list, .modal__wrapper .modal__content p {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.header__nav a {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
}

.pet-card .button__more {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

@keyframes background {
  from {
    background: rgba(41, 41, 41, 0);
  }
  to {
    background: rgba(41, 41, 41, 0.6);
  }
}
@keyframes move-right {
  from {
    left: -100%;
  }
  to {
    left: -200%;
  }
}
@keyframes move-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes modal-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  background-color: #e5e5e5;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
body.lock:after {
  content: "";
  position: fixed;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  animation-duration: 0.3s;
  animation-name: background;
}
body.lock {
  overflow: hidden;
  padding-right: 17px;
}

.button {
  border-radius: 100px;
  background: #f1cdb3;
  border: 0;
  padding: 15px 45px;
}

.button__sircle {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
}
.button__sircle:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
  transition: 0.3s all;
}

.button__paginator {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__paginator span {
  color: #292929;
}
.button__paginator:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
  transition: 0.3s all;
}

.button_inactive {
  border: 2px solid #cdcdcd;
  pointer-events: none;
  color: #cdcdcd;
}
.button_inactive span {
  color: #cdcdcd;
}

.button_active {
  background: #f1cdb3;
}

.burger span, .burger:before, .burger:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #f1cdb3;
  transition: 0.3s all;
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
}
.burger:before, .burger:after {
  content: "";
}
.burger span {
  top: 50%;
  transform: translateY(-50%);
}
.burger:before {
  top: 0;
}
.burger:after {
  bottom: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .burger {
    display: block;
    z-index: 2;
  }
}
.burger.active {
  position: absolute;
  top: 45px;
  right: 53px;
}
.burger.active:before {
  transform: rotate(90deg);
  top: 11px;
  left: 9px;
}
.burger.active:after {
  transform: rotate(90deg);
  top: 11px;
  right: 9px;
}
.burger.active span {
  transform: rotate(90deg);
}

.pet-card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s all;
}
.pet-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #fff;
  transition: 0.3s all;
}
.pet-card:hover .button__more {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  transition: 0.3s all;
}
.pet-card .pets__img {
  margin-bottom: 30px;
}
.pet-card p {
  color: #545454;
  margin-bottom: 30px;
}
.pet-card .button__more {
  background: transparent;
  border: 2px solid #f1cdb3;
  width: 187px;
  color: #292929;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.3s all;
}

.navigation {
  margin: 0 auto;
}

.header__nav {
  position: relative;
}
.active.header__nav {
  right: 0;
}
.header__nav a {
  text-decoration: none;
  color: #cdcdcd;
  margin-right: 35px;
  transition: 0.3s all;
}
.header__nav a:last-child {
  margin-right: 0;
}
.header__nav a:hover {
  color: #fafafa;
  transition: 0.3s all;
}
.header__nav a:focus {
  color: #fafafa;
  padding-bottom: 10px;
  border-bottom: 3px solid #f1cdb3;
  transition: 0.3s all;
}
.header__nav a.active {
  color: #fafafa;
  padding-bottom: 10px;
  border-bottom: 3px solid #f1cdb3;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100vh;
    background: #292929;
    transition: 0.3s all;
  }
  .header__nav > a {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
  }
  .header__nav > a.active {
    padding-bottom: 0;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  background-color: #fafafa;
  border-radius: 9px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  margin: auto;
  z-index: 1;
  animation-duration: 0.3s;
  animation-name: modal-open;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal {
    width: 630px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal {
    width: 240px;
  }
}

.modal__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 29px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal__wrapper {
    column-gap: 11px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__wrapper {
    column-gap: 0;
  }
}
.modal__wrapper .modal__close-btn {
  position: absolute;
  background: transparent;
  top: -52px;
  right: -52px;
}
.modal__wrapper .modal__close-btn:hover {
  background: #fddcc4;
}
.modal__wrapper .active-btn {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
  transition: 0.3s all;
}
.modal__wrapper .modal__img {
  width: 500px;
  height: 500px;
  border-radius: 9px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal__wrapper .modal__img {
    width: 350px;
    height: 350px;
  }
}
.modal__wrapper .modal__content {
  padding: 50px 20px 88px 0;
  color: black;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal__wrapper .modal__content {
    padding: 10px 9px 37px 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__wrapper .modal__content {
    padding: 10px;
  }
}
.modal__wrapper .modal__content h3 {
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__wrapper .modal__content h3 {
    text-align: center;
  }
}
.modal__wrapper .modal__content h4 {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal__wrapper .modal__content h4 {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__wrapper .modal__content h4 {
    margin-bottom: 20px;
    text-align: center;
  }
}
.modal__wrapper .modal__content p {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal__wrapper .modal__content p {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__wrapper .modal__content p {
    margin-bottom: 24px;
    text-align: justify;
  }
}
.modal__wrapper .modal__content .modal__list .list-item {
  position: relative;
  padding-left: 10px;
}
.modal__wrapper .modal__content .modal__list .list-item:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  left: -3px;
  width: 4px;
  height: 4px;
  bottom: 3px;
  border-radius: 50%;
  background-color: #f1cdb3;
}

.header {
  position: fixed;
  max-width: 1280px;
  width: 100%;
  background: #fff;
}
.header.header_active {
  position: absolute;
  height: 120px;
}

.header__wrapper {
  position: relative;
  padding: 30px 40px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__wrapper {
    padding: 30px 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__wrapper {
    padding: 30px 50px 30px 10px;
  }
}

.header__logo a {
  text-decoration: none;
}
.header__logo h1 {
  color: #545454;
  margin-bottom: 10px;
}
.header__logo p {
  color: #292929;
}

.header__nav {
  z-index: 1;
}
.header__nav .header__logo {
  display: block;
  position: absolute;
  top: 30px;
  left: 10px;
}
.header__nav .header__logo h1 {
  color: #f1cdb3;
}
.header__nav .header__logo p {
  color: #fff;
}
.header__nav a {
  color: #545454;
}
.header__nav a:hover {
  color: #292929;
}
.header__nav a:focus {
  color: #292929;
}
.header__nav a.active {
  color: #292929;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__nav a {
    color: #cdcdcd;
  }
  .header__nav a:hover {
    color: #fafafa;
  }
  .header__nav a:focus {
    color: #fafafa;
  }
  .header__nav a.active {
    color: #fafafa;
  }
}

.burger span, .burger:before, .burger:after {
  background: #000;
}
.burger.active {
  position: fixed;
}
.burger.active span, .burger.active:before, .burger.active:after {
  background: #fff;
}

.pets {
  width: 100%;
  background: #f6f6f6;
}
.pets h3 {
  text-align: center;
  color: #545454;
  width: 400px;
  padding-bottom: 45px;
  padding-top: 165px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pets h3 {
    width: 400px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pets h3 {
    font-size: 25px;
    width: 100%;
    padding: 162px 0 42px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .pets__wrapper {
    width: 320px;
    margin: auto;
  }
}

.pets__content {
  padding-top: 1.171875%;
  padding-left: 3.125%;
  padding-right: 3.125%;
  gap: 30px 40px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pets__content {
    display: grid;
    grid-template-columns: repeat(2, 270px);
    justify-content: center;
    padding: 0 94px 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pets__content {
    display: flex;
    flex-direction: column;
    padding: 0 25px 42px;
  }
  .pets__content :not(:nth-child(-n+3)) {
    display: none;
  }
}

.pets__navigation {
  width: 26.5625%;
  padding-bottom: 100px;
  padding-top: 45px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pets__navigation {
    width: 340px;
    padding-bottom: 76px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pets__navigation {
    width: 100%;
    padding: 0 10px 42px;
  }
}

.footer {
  width: 100%;
  background: url(/src/assets/img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.footer__wrapper {
  padding-left: 3.125%;
  padding-right: 3.125%;
  padding-top: 3.125%;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__wrapper {
    width: 768px;
    margin: auto;
    padding: 30px 30px 0;
    justify-content: center;
    gap: 65px 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__wrapper {
    align-items: center;
    width: 320px;
    margin: auto;
    padding: 30px 10px 0;
  }
}

.content-container {
  margin-top: 1.25%;
  margin-bottom: 5%;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .content-container {
    margin: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .content-container {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
.content-container h3 {
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .content-container h3 {
    width: 100%;
    font-size: 25px;
    text-align: center;
    align-self: center;
  }
}
.content-container a {
  justify-content: flex-start;
  color: #f1cdb3;
  text-decoration: none;
}
.content-container a img {
  padding-right: 20px;
}
.content-container a p {
  text-align: left;
}

.content-container__locate {
  width: 302px;
}
.content-container__locate .locate__title {
  width: 270px;
}

.content-container__contact {
  width: 278px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .content-container__contact {
    width: 300px;
  }
}

.contact__phone,
.contact__mail {
  padding-top: 40px;
}

.locate__boston-maps {
  padding-top: 33px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .locate__boston-maps {
    width: 100%;
    padding-top: 40px;
  }
}

.locate__london-maps {
  padding-top: 33px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .locate__london-maps {
    width: 100%;
    padding-top: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .content-container__img {
    width: 260px;
    margin: auto;
  }
}

/*# sourceMappingURL=pets.css.map */
