/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* tinos-regular - latin */
@font-face {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/tinos-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/src/assets/fonts/tinos-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/tinos-v24-latin-regular.woff2") format("woff2"), url("..assets/fonts/tinos-v24-latin-regular.woff") format("woff"), url("/src/assets/fonts/tinos-v24-latin-regular.ttf") format("truetype"), url("/src/assets/fonts/tinos-v24-latin-regular.svg#Tinos") format("svg"); /* Legacy iOS */
}
/* tinos-italic - latin */
@font-face {
  font-family: "Tinos";
  font-style: italic;
  font-weight: 400;
  src: url("/src/assets/fonts/tinos-v24-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("/src/assets/fonts/tinos-v24-latin-italic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/tinos-v24-latin-italic.woff2") format("woff2"), url("/src/assets/fonts/tinos-v24-latin-italic.woff") format("woff"), url("/src/assets/fonts/tinos-v24-latin-italic.ttf") format("truetype"), url("/src/assets/fonts/tinos-v24-latin-italic.svg#Tinos") format("svg"); /* Legacy iOS */
}
.pets .pets__wrapper .pets__slider, .about .about__wrapper, .header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__wrapper .header__logo h1 {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.header .header__wrapper .header__logo p {
  font-family: "Arial";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.start-screen .start-screen__content h2 {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

.help .help__wrapper h3, .pets .pets__wrapper h3, .about .about__wrapper .about__content h3 {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.help .help__list_item p, .slider__card p {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.about .about__wrapper .about__content p, .start-screen .start-screen__content p, .header .header__wrapper .header__nav a {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
}

.slider__card .button__more, .pets .pets__wrapper .pets__button, .start-screen .start-screen__content .start-screen_button {
  font-family: "tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.button {
  border-radius: 100px;
  background: #f1cdb3;
  border: 0;
  padding: 15px 45px;
}

.arrow_button {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
}

html {
  background-color: #e5e5e5;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  max-height: 908px;
}
.header .header__image {
  background: url(/src/assets/img/Start_screen.jpg) top center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 60px 40px 0;
}
.header .header__wrapper {
  width: 100%;
  margin: 0 auto;
}
.header .header__wrapper .header__logo a {
  text-decoration: none;
}
.header .header__wrapper .header__logo h1 {
  color: #f1cdb3;
  margin-bottom: 10px;
}
.header .header__wrapper .header__logo p {
  color: #fff;
}
.header .header__wrapper .header__nav a {
  text-decoration: none;
  color: #cdcdcd;
  margin-right: 35px;
  transition: 0.3s all;
}
.header .header__wrapper .header__nav a:last-child {
  margin-right: 0;
}
.header .header__wrapper .header__nav a:hover {
  color: #fafafa;
  transition: 0.3s all;
}
.header .header__wrapper .header__nav a:focus {
  color: #fafafa;
  padding-bottom: 10px;
  border-bottom: 3px solid #f1cdb3;
  transition: 0.3s all;
}
.header .header__wrapper .header__nav a:first-child {
  color: #fafafa;
  padding-bottom: 10px;
  border-bottom: 3px solid #f1cdb3;
}

.start-screen .start-screen__content {
  width: 38.3333333333%;
  padding-top: 13.5833333333%;
  padding-bottom: 20.25%;
}
.start-screen .start-screen__content h2 {
  color: #fff;
  width: 67.3913043478%;
  margin-bottom: 9.1304347826%;
}
.start-screen .start-screen__content p {
  color: #cdcdcd;
  margin-bottom: 9.1304347826%;
}
.start-screen .start-screen__content .start-screen_button {
  width: 207px;
  color: #292929;
  transition: 0.3s all;
}
.start-screen .start-screen__content .start-screen_button:hover {
  background-color: #fddcc4;
  transition: 0.3s all;
}

.about {
  width: 100%;
  background-color: #fff;
  height: auto;
}
.about .about__wrapper {
  justify-content: center;
  padding-top: 6.25%;
  padding-left: 3.125%;
  padding-right: 3.125%;
  padding-bottom: 7.8125%;
}
.about .about__wrapper .about__content {
  width: 35.8333333333%;
  margin-left: 10%;
}
.about .about__wrapper .about__content h3 {
  color: #545454;
  width: 86.0465116279%;
  margin-top: 3.2558139535%;
  margin-bottom: 5.8139534884%;
}
.about .about__wrapper .about__content p {
  color: #4c4c4c;
  margin-bottom: 5.8139534884%;
}
.about .about__wrapper .about__content p:last-child {
  margin-bottom: 3.2558139535%;
}

.about__img {
  width: 25%;
  height: auto;
}

.pets {
  background-color: #f6f6f6;
  width: 100%;
}
.pets .pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.25%;
  padding-left: 3.125%;
  padding-right: 3.125%;
  padding-bottom: 7.8125%;
}
.pets .pets__wrapper h3 {
  text-align: center;
  color: #545454;
  width: 33.3333333333%;
  margin-bottom: 5%;
}
.pets .pets__wrapper .pets__slider {
  width: 100%;
}
.pets .pets__wrapper .pets__button {
  color: #292929;
  width: 261px;
  cursor: pointer;
  transition: 0.3s all;
}
.pets .pets__wrapper .pets__button:hover {
  background: #fddcc4;
  transition: 0.3s all;
}
.pets .pets__wrapper .wrapper_arrow:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
  transition: 0.3s all;
}

.slider__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  margin-bottom: 5%;
  cursor: pointer;
  transition: 0.3s all;
}
.slider__card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #fff;
  transition: 0.3s all;
}
.slider__card:hover .button__more {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  transition: 0.3s all;
}
.slider__card .pets__img {
  margin-bottom: 11.1111111111%;
}
.slider__card p {
  color: #545454;
  margin-bottom: 11.1111111111%;
}
.slider__card .button__more {
  background: transparent;
  border: 2px solid #f1cdb3;
  width: 187px;
  color: #292929;
  margin-bottom: 11.1111111111%;
  cursor: pointer;
  transition: 0.3s all;
}

.help {
  background: #fff;
  width: 100%;
}
.help .help__wrapper {
  padding-top: 6.25%;
  padding-left: 3.125%;
  padding-right: 3.125%;
  padding-bottom: 7.8125%;
}
.help .help__wrapper h3 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #545454;
  width: 25.6666666667%;
  margin-bottom: 5%;
}
.help .help__list {
  width: 85.5%;
  margin: 0 auto;
}
.help .help__list__box_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.help .help__list__box_1:not(:last-child) {
  margin-bottom: 55px;
}
.help .help__list__box_2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.help .help__list_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help .help__list_item p {
  color: #545454;
  padding-top: 30px;
}

/*# sourceMappingURL=main.css.map */
